.button {
    padding: 10px 30px;
    border: 4px var(--color-primary) solid;
    border-radius: 25px;
    font-family: var(--font-primary);
    font-weight: bolder;

    &:hover {
        text-decoration: none;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}
.conteneur_button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}
